/** Colors */
$brand-primary         : #c4f3ff;
$brand-primary-light   : #def8ff;
$brand-primary-dark    : #78a7b3;
$brand-secondary       : #b38b66;
$brand-secondary-light : #ffd4ab;
$brand-secondary-dark  : #664a30;

/** Box Model  */
$spacer                : 2rem;
